version: '3.9'

services:
  app:
    build: .
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000
    volumes:
      - ./:/app
    env_file:
      - .env
    expose:
      - "8000"
    depends_on:
      - db
    networks:
      - survey_shared_net

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: survey_db
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - survey_shared_net

  caddy:
    image: caddy:latest
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - app
    networks:
      - survey_shared_net

volumes:
  pgdata:
  caddy_data:
  caddy_config:

networks:
  survey_shared_net:
    name: survey_infinity_default
    driver: bridge